<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <!--start write Url-->
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
    <!--end write Url-->
  </configSections>
  <appSettings>
    <add key="Main.ConnectionString" value="Server=ROSSI;Database=asiaticatraveldedb;uid=sa;pwd=111111;Pooling=false;Connection Timeout=60;"/>
    
    <add key="Domain" value="http://www.asiatica-travel.de/" />
    <add key="Country" value="DataUpload/Country/" />
    <add key="Attractions" value="DataUpload/Attractions/" />
    <add key="Tour" value="DataUpload/Tour/" />
    <add key="Staff" value="DataUpload/Staff/" />
    <add key="Hotel" value="DataUpload/Hotel/" />
    <add key="TravelGuide" value="DataUpload/TravelGuide/" />
    <add key="Testimonial" value="DataUpload/Testimonial/" />
    <add key="About" value="DataUpload/About/" />
    <add key="BannerHome" value="DataUpload/BannerHome/" />
    <add key="TravelReport" value="DataUpload/TravelReport/" />
    <add key="News" value="DataUpload/News/" />
    <add key="Promotion" value="DataUpload/Promotion/" />
    <add key="Partner" value="DataUpload/Partner/" />
    <add key="Exclusive" value="DataUpload/Exclusive/" />
    <add key="Activities" value="DataUpload/Activities/" />
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.5"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.IO"/>
        <add namespace="System.Data"/>
        <add namespace="System.Data.SqlClient"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
      <add verb="*" path="*.pdf" type="System.Web.UI.PageHandlerFactory"/>
    </httpHandlers>
    <httpModules>
      <!--start write Url-->
      <add type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" name="UrlRewriter"/>
      <!--end write Url-->
      <!--<add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader" />-->
    </httpModules>
    <!--<httpCookies domain=".asiagaytour.com"/>-->
    <roleManager enabled="true"/>
    <httpRuntime executionTimeout="90" requestValidationMode="2.0" maxRequestLength="121920" useFullyQualifiedRedirectUrl="false" requestLengthDiskThreshold="8192"/>
    <customErrors mode="Off" defaultRedirect="error.html"/>
    <!--<customErrors mode="On" defaultRedirect="error.html">
      <error statusCode="403" redirect="error.html" />
      <error statusCode="404" redirect="error.html" />
    </customErrors>-->
    <trust level="Full"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>
  <system.net>
    <defaultProxy>
      <proxy autoDetect="True"/>
    </defaultProxy>
  </system.net>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <!--start write Url-->
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule"/>
      <!--end write Url-->
    </modules>
    <handlers>
      <add name="MSCaptcha" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
      <add verb="POST,GET" name="Upload" path="Upload.axd" type="Upload"/>
      <add name="ChartImage.axd_*" path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode"/>
      <add name="ScriptResource.axd_GET,HEAD" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode"/>
      <add name="*_AppService.axd_*" path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode"/>
      <add name="*.asmx_*" path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <rewriter>
    <!--Write Url Home -->
    <rewrite url="~/index.html" to="~/Default.aspx" processing="stop"/>
    <rewrite url="~/about-us.html" to="~/About.aspx" processing="stop"/>
    
    
    <rewrite url="~/vietnam-reisen.html" to="~/DestinationVietnam.aspx"/>
    <rewrite url="~/laos-reisen.html" to="~/DestinationLaos.aspx"/>
    <rewrite url="~/kambodscha-reisen.html" to="~/DestinationCampuchia.aspx"/>
    
    <rewrite url="~/vietnam/([\w-]{1,})-(.+).html" to="~/DestinationDetail.aspx?DestinationID=$2" />
    <rewrite url="~/kambodscha/([\w-]{1,})-(.+).html" to="~/DestinationDetail.aspx?DestinationID=$2" />
    <rewrite url="~/laos/([\w-]{1,})-(.+).html" to="~/DestinationDetail.aspx?DestinationID=$2" />


    <rewrite url="~/reisefuehrer-vietnam.html" to="~/Guide.aspx" />
    <rewrite url="~/reisefuehrer-kambodscha.html" to="~/GuideCambodia.aspx" />
    <rewrite url="~/reisefuehrer-laos.html" to="~/GuideLaos.aspx" />
    <rewrite url="~/reisefuehrer/([\w-]{1,})-(.+).html" to="~/GuideDetail.aspx?GuideID=$2"/>

    <rewrite url="~/rundreisen.html" to="~/ListTour.aspx"/>
    <rewrite url="~/kategorie/([\w-]{1,})-(.+).html" to="~/CategoryTour.aspx?CategoryTourID=$2" />
    <rewrite url="~/reisen/([\w-]{1,})-(.+).html" to="~/TourDetail.aspx?TourID=$2" />
    
    
    <rewrite url="~/product-(.+).html" to="~/ListProduct.aspx?ProductCateID=$1" />
    <rewrite url="~/product/([\w-]{1,})-(.+).html" to="~/ProductDetail.aspx?ProductID=$2" />

    <rewrite url="~/foundation/([\w-]{1,})-(.+).html" to="~/FoundationDetail.aspx?FoundationID=$2" />

    <rewrite url="~/news.html" to="~/News.aspx"/>
    <rewrite url="~/news/([\w-]{1,})-(.+).html" to="~/NewsDetail.aspx?NewsID=$2"/>


    <rewrite url="~/presse.html" to="~/Press.aspx"/>
    <rewrite url="~/presse/([\w-]{1,})-(.+).html" to="~/PressDetail.aspx?PressID=$2"/>

    <rewrite url="~/referenzen.html" to="~/Testimonial.aspx"/>
    <rewrite url="~/referenzen/([\w-]{1,})-(.+).html" to="~/TestimonialDetail.aspx?TestimonialID=$2" />
    
    <rewrite url="~/kontakt.html" to="~/Contact.aspx"/>
    <rewrite url="~/maßgeschneiderte-reisen.html" to="~/Booking.aspx"/>
  </rewriter>
</configuration>